<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stigmasoft.matap.steelpan">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:theme="@style/main_theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SelectActivity"
            android:theme="@style/Theme.Steelpan"
            android:icon="@drawable/logo"
            android:label="@string/app_name_layout"
            android:parentActivityName=".MainActivity">

        </activity>

        <activity
            android:name=".GameActivity"
            android:theme="@style/Theme.Steelpan"
            android:icon="@drawable/logo"
            android:label="STEELPAN"
            android:parentActivityName=".SelectActivity">

        </activity>
    </application>

</manifest>
